@import "../../../src/styles/styles.css";

html,
body {
  min-height: 100dvh;
}

body {
  background-color: var(--mew-color-background);
  color: var(--mew-color-text-primary);
  font-family: var(--mew-font-sans);
}
